body{
    background-color: white;
}

.navBarApple{
    background: rgba(0, 0, 0, 0.722);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    margin: 0 -10px;
    margin-top: -40px;
    height: 45px;
    width: 100%; /* Adjusted to 100% instead of 102% */
    font-size: 8px;
    position: fixed;
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
}

.navBarText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(251, 251, 253, 0.85);
    font-size: 12px;
    /* font-weight: 300; */
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1;
    width: auto;
    cursor: pointer;
}

.sectionBackground{
    background-image: url(../images/multiphonepic.jpeg);
    background-repeat: no-repeat;
    /* transform: scaleX(-1); */
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 105%;
    margin-left: 40%;
}

.imageText{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    background-color: black;
    width: 105%;
    margin-left: -1%;
}

.imagePrint{
    margin-top: -35px;
    font-weight: 300;
}

.iPhoneInfo{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(23, 23, 25, 0.8);
}

.linksLearn{
    text-decoration: none;
    color: #2997ff;
}

.linksLearn:hover{
    text-decoration: underline;
}

.linksImage{
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: 18px;
    font-weight: 400;
}

.iphone_14_image{
    background-image: url(../images/iphone_14.png);
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
}

.imageText2{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    background-color: transparent;
    width: 105%;
    margin-left: -1%;
}

.imagePrint2{
    margin-top: -35px;
    font-weight: 300;
}
.imageText3{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    background-color: black;
    width: 105%;
    margin-left: -1%;
}

.imagePrint3{
    margin-top: -10px;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
}

.watch8{
    background-image: url(../images/apple_watch.png);
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
}

.name{
    display: flex;
    justify-content: center;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
}

.series{
    display: flex;
    justify-content: center;
    color: rgb(196, 2, 2);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: -40px;
    font-size: 19px;
    text-decoration: bold;
}

.imageTextWatch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.sectionImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Add spacing between grid items */
}

.sectionImages > div {
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tradeIn {
    background-image: url(../images/trade2.jpeg);
    margin-top: 50px;
}

.tradeInText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -65%;
}

.tradeInH1{
    color: black;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 45px;
}

.textUnderH1{
    color: black;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    margin-top: -35px;
}

.linksLearn2{
    text-decoration: none;
    color: #2997ff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    margin-right: 30px;
}

.conference {
    background-image: url(../images/conference2.png);
}

.ipad {
    background-image: url(../images/ipad2.jpg);
    margin-top: 50px;
}

.ipadText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -80%;
}


.linksImage2{
    display: flex;
    justify-content: center;
    width: 400px;
    font-size: 18px;
    font-weight: 400;
}

.macbookpro {
    background-image: url(../images/macbookpro.jpeg);
}

.homePod {
    background-image: url(../images/homepod.png);
}

.card {
    background-image: url(../images/apple_card.png);
}
